@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #F7F8FA;
  --foreground: #171717;
  --primary: #3B82F6;
  --success: #16A34A;
  --error: #DC2626;
  --bgMain: #F7F8FA;
  --bgSecondary: #FFFFFF;
  --textPrimary: #111827;
  --textSecondary: #6B7280;
  --border: #E5E7EB;
  --hover: rgb(234, 243, 253);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #3B82F6;
  --success: #22C55E;
  --error: #EF4444;
  --bgMain: #111827;
  --bgSecondary: #1F2937;
  --textPrimary: #F9FAFB;
  --textSecondary: #9CA3AF;
  --border: #374151;
  --hover: #263c85;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-b-main: var(--bgMain);
  --color-b-secondary: var(--bgSecondary);
  --color-t-primary: var(--textPrimary);
  --color-t-secondary: var(--textSecondary);
  --color-border: var(--border);
  --color-hover: var(--hover);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}